# Laravel (Backend) Ignore Rules
/backend/vendor/
/backend/node_modules/
backend/storage/*.key
backend/storage/*.log
backend/storage/*.cache
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
!backend/storage/framework/.gitignore
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore
/backend/.env
/backend.phpunit.result.cache
/backend/.php_cs.cache
/backend/public/storage

# React (Frontend) Ignore Rules
/frontend/node_modules/
/frontend/build/
/frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
/frontend/.next/
/frontend/out/
/frontend/.vercel/
frontend/coverage
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# General Ignore Rules
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*.idea/
*.vscode/
*.env
